<ion-header>
  <ion-toolbar color="secundary">
    <ion-title  style="color:white">Registrese aquí</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img style="border-radius: 5%; margin: 7% 0% 0% 7%" width="85%" alt="Silhouette of mountains"
  src="assets/images_1.jpg" />
  <ion-item style="margin-top: 10% ">
    <ion-label position="floating">Su correo</ion-label>
    <ion-icon slot="end" name="archive-outline"></ion-icon>
    <ion-input type="email" [(ngModel)]="user.email" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Una contraseña</ion-label>
    <ion-icon slot="end" name="lock-closed-outline"></ion-icon>
    <ion-input type="password" [(ngModel)]="user.password" required></ion-input>
  </ion-item>

  <ion-button class="ion-padding" color="warning" expand="block" (click)="register(user)">Registrarme</ion-button>
  
</ion-content>
